div {
	padding: 4px 48px;
}

body{
	background: #fff;
	font-family: "微软雅黑";
	color: #333;
}

h1{
	display: inline;
	font-size: 100px;
	margin-bottom: 12px;
}

p{
	display: inline;
	line-height: 1.8em;
	font-size: 36px
}
