{{ define "weibo/list" }}

<!DOCTYPE html>
<html lang="en">
  {{ template "public/head" . }}
  <script>
      $(function(){
          var options={
              currentPage: $("#currentPage").text(),//当前的请求页面。
              totalPages: $("#totalPageCnt").text(),//一共多少页。
              size:"normal",//应该是页眉的大小。
              bootstrapMajorVersion: 1,//bootstrap的版本要求。
              alignment:"right",
              numberOfPages:10,//一页列出多少数据。
              itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                  switch (type) {
                      case "first": return "首页";
                      case "prev": return "上一页";
                      case "next": return "下一页";
                      case "last": return "末页";
                      case "page": return page;
                  }
              },
              onPageClicked:function(e,originalEvent,type,page){
                  window.location.href="/_search?keyword=电影&page="+page;
              }
          }
          $("#page").bootstrapPaginator(options);
      })
  </script>
  <body>
    {{ template "public/navbar" . }}

    <p hidden id="currentPage">{{  .currentPage }}</p>
    <p hidden id="totalPageCnt">{{  .totalPageCnt }}</p>
    <div class="container">

    {{ range .list }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Summary }}</span>
            </div>
            <div class="panel-body">
                Started by {{ .User }} -  - {{ date "Y-m-d H:i:s" .CreatedAt }} -  - {{ .ReadCnt }}次阅读.
                <div class="pull-right">
                    <a href="/_detail?id={{.Id }}">Read more</a>
                </div>
            </div>
        </div>
    {{ end }}
      
    </div> <!-- /container -->
    <div id="example" style="text-align: center">
        <p id="page"></p>
    </div>
  </body>
</html>

{{ end }}